<%- include('header'); -%>  
<%- include('logout'); -%>
<h1> Login Successful </h1>

  <h2>Welcome <%= user.first_name %></h2>

<a href="\updateUser">Update Profile</a>
<br>
<br>
<a href="\search">Search Books</a>
<br>
<br>
<a href="\viewProfile">View Profile Information</a>
<br>
<br>
  <% if(user.usertype === 'admin') { %>
    <a href="\crudUsers">Update / Delete Buyers And Sellers</a>
    <a href="\crudUsersTest">Update / Delete Buyers And Sellers Test</a>
  <% }
   if(user.usertype === 'seller') { %>
    <a href="\crudBooksBySeller">Update / Delete Books sold by you <% user.username %></a>
  <% }
  %>
